In [1]:
import pandas as pd

In [2]:
CODE = '005930'

In [3]:
url_tmpl = 'http://companyinfo.stock.naver.com/v1/company/ajax/cF1001.aspx?cmp_cd=%s&fin_typ=%s&freq_typ=%s'
url = url_tmpl % (CODE, '4', 'Y') # 삼성전자, 4(IFRS 연결), Y:년 단위
print(url)

dfs = pd.read_html(url, encoding='utf8')
# dfs
df = dfs[0]
# print(df)
# df = df.set_index('주요재무정보')
df.head(10) # 10개 항목만 표시(실제 32개 항목)

http://companyinfo.stock.naver.com/v1/company/ajax/cF1001.aspx?cmp_cd=005930&fin_typ=4&freq_typ=Y

,주요재무정보,연간,Unnamed: 2_level_0,Unnamed: 3_level_0,Unnamed: 4_level_0,Unnamed: 5_level_0,Unnamed: 6_level_0,Unnamed: 7_level_0,Unnamed: 8_level_0
,\n\t\t\t\t\t\t\t\t\t2013/12\n\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t(IFRS연결)\n\t\t\t\t\t\t\t\t,\n\t\t\t\t\t\t\t\t\t2014/12\n\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t(IFRS연결)\n\t\t\t\t\t\t\t\t,\n\t\t\t\t\t\t\t\t\t2015/12\n\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t(IFRS연결)\n\t\t\t\t\t\t\t\t,\n\t\t\t\t\t\t\t\t\t2016/12\n\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t(IFRS연결)\n\t\t\t\t\t\t\t\t,\n\t\t\t\t\t\t\t\t\t2017/12\n\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t(IFRS연결)\n\t\t\t\t\t\t\t\t,\n\t\t\t\t\t\t\t\t\t2018/12(E)\n\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t(IFRS연결)\n\t\t\t\t\t\t\t\t,\n\t\t\t\t\t\t\t\t\t2019/12(E)\n\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t(IFRS연결)\n\t\t\t\t\t\t\t\t,\n\t\t\t\t\t\t\t\t\t2020/12(E)\n\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t(IFRS연결)\n\t\t\t\t\t\t\t\t,Unnamed: 8_level_1
0,매출액,2286927.0,2062060.0,2006535.0,2018667.0,2395754.0,2609853.0,2707078.0,2789011.0
1,영업이익,367850.0,250251.0,264134.0,292407.0,536450.0,631150.0,636614.0,653598.0
2,영업이익(발표기준),367850.0,250251.0,264134.0,292407.0,536450.0,NaN,NaN,NaN
3,세전계속사업이익,383643.0,278750.0,259610.0,307137.0,561960.0,651990.0,661092.0,683498.0
4,당기순이익,304748.0,233944.0,190601.0,227261.0,421867.0,486860.0,493402.0,517531.0
5,당기순이익(지배),298212.0,230825.0,186946.0,224157.0,413446.0,478098.0,484541.0,509688.0
6,당기순이익(비지배),6535.0,3119.0,3655.0,3104.0,8422.0,NaN,NaN,NaN
7,자산총계,2140750.0,2304230.0,2421795.0,2621743.0,3017521.0,3467857.0,3891569.0,4036498.0
8,부채총계,640590.0,623348.0,631197.0,692113.0,872607.0,861430.0,897671.0,928223.0
9,자본총계,1500160.0,1680882.0,1790598.0,1929630.0,2144914.0,2603368.0,2984159.0,3354682.0

# 컬럼 변환

In [4]:
# multi columns 제거
cols = list(df.columns.droplevel(0))
cols

['\n\t\t\t\t\t\t\t\t\t2013/12\n\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t(IFRS연결)\n\t\t\t\t\t\t\t\t',
 '\n\t\t\t\t\t\t\t\t\t2014/12\n\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t(IFRS연결)\n\t\t\t\t\t\t\t\t',
 '\n\t\t\t\t\t\t\t\t\t2015/12\n\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t(IFRS연결)\n\t\t\t\t\t\t\t\t',
 '\n\t\t\t\t\t\t\t\t\t2016/12\n\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t(IFRS연결)\n\t\t\t\t\t\t\t\t',
 '\n\t\t\t\t\t\t\t\t\t2017/12\n\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t(IFRS연결)\n\t\t\t\t\t\t\t\t',
 '\n\t\t\t\t\t\t\t\t\t2018/12(E)\n\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t(IFRS연결)\n\t\t\t\t\t\t\t\t',
 '\n\t\t\t\t\t\t\t\t\t2019/12(E)\n\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t(IFRS연결)\n\t\t\t\t\t\t\t\t',
 '\n\t\t\t\t\t\t\t\t\t2020/12(E)\n\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t(IFRS연결)\n\t\t\t\t\t\t\t\t',
 'Unnamed: 8_level_1']

In [5]:
# 재무제표 년/월 얻어오기
import re
from datetime import datetime

s = cols[0]

def get_date_str(s):
    date_str = ''
    r = re.search("\d{4}/\d{2}", s)
    if r:
        date_str = r.group()

    return date_str

In [6]:
cols = [get_date_str(col) for col in cols]
cols

['2013/12',
 '2014/12',
 '2015/12',
 '2016/12',
 '2017/12',
 '2018/12',
 '2019/12',
 '2020/12',
 '']

In [7]:
df = df.set_index('주요재무정보')
df.head()

,연간,Unnamed: 2_level_0,Unnamed: 3_level_0,Unnamed: 4_level_0,Unnamed: 5_level_0,Unnamed: 6_level_0,Unnamed: 7_level_0,Unnamed: 8_level_0
,\n\t\t\t\t\t\t\t\t\t2014/12\n\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t(IFRS연결)\n\t\t\t\t\t\t\t\t,\n\t\t\t\t\t\t\t\t\t2015/12\n\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t(IFRS연결)\n\t\t\t\t\t\t\t\t,\n\t\t\t\t\t\t\t\t\t2016/12\n\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t(IFRS연결)\n\t\t\t\t\t\t\t\t,\n\t\t\t\t\t\t\t\t\t2017/12\n\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t(IFRS연결)\n\t\t\t\t\t\t\t\t,\n\t\t\t\t\t\t\t\t\t2018/12(E)\n\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t(IFRS연결)\n\t\t\t\t\t\t\t\t,\n\t\t\t\t\t\t\t\t\t2019/12(E)\n\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t(IFRS연결)\n\t\t\t\t\t\t\t\t,\n\t\t\t\t\t\t\t\t\t2020/12(E)\n\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t(IFRS연결)\n\t\t\t\t\t\t\t\t,Unnamed: 8_level_1
주요재무정보,,,,,,,,
"(매출액,)",2286927.0,2062060.0,2006535.0,2018667.0,2395754.0,2609853.0,2707078.0,2789011.0
"(영업이익,)",367850.0,250251.0,264134.0,292407.0,536450.0,631150.0,636614.0,653598.0
"(영업이익(발표기준),)",367850.0,250251.0,264134.0,292407.0,536450.0,NaN,NaN,NaN
"(세전계속사업이익,)",383643.0,278750.0,259610.0,307137.0,561960.0,651990.0,661092.0,683498.0
"(당기순이익,)",304748.0,233944.0,190601.0,227261.0,421867.0,486860.0,493402.0,517531.0

In [8]:
# 컬럼이름 변경
df.columns = cols[0:-1]
df.head()

,2013/12,2014/12,2015/12,2016/12,2017/12,2018/12,2019/12,2020/12
주요재무정보,,,,,,,,
"(매출액,)",2286927.0,2062060.0,2006535.0,2018667.0,2395754.0,2609853.0,2707078.0,2789011.0
"(영업이익,)",367850.0,250251.0,264134.0,292407.0,536450.0,631150.0,636614.0,653598.0
"(영업이익(발표기준),)",367850.0,250251.0,264134.0,292407.0,536450.0,NaN,NaN,NaN
"(세전계속사업이익,)",383643.0,278750.0,259610.0,307137.0,561960.0,651990.0,661092.0,683498.0
"(당기순이익,)",304748.0,233944.0,190601.0,227261.0,421867.0,486860.0,493402.0,517531.0

## Index 변환

In [9]:
indexes = []

for i in range(0, df.index.size):
    indexes.append(df.index[i][0])
    
indexes

['매출액',
 '영업이익',
 '영업이익(발표기준)',
 '세전계속사업이익',
 '당기순이익',
 '당기순이익(지배)',
 '당기순이익(비지배)',
 '자산총계',
 '부채총계',
 '자본총계',
 '자본총계(지배)',
 '자본총계(비지배)',
 '자본금',
 '영업활동현금흐름',
 '투자활동현금흐름',
 '재무활동현금흐름',
 'CAPEX',
 'FCF',
 '이자발생부채',
 '영업이익률',
 '순이익률',
 'ROE(%)',
 'ROA(%)',
 '부채비율',
 '자본유보율',
 'EPS(원)',
 'PER(배)',
 'BPS(원)',
 'PBR(배)',
 '현금DPS(원)',
 '현금배당수익률',
 '현금배당성향(%)',
 '발행주식수(보통주)']

In [10]:
# new_indexes = {v: k for v, k in enumerate(indexes)}

new_index_dict = dict(zip(df.index, indexes))
print(new_index_dict)

df.rename(new_index_dict, axis='index', inplace=True)
df.head(5)

{('매출액',): '매출액', ('영업이익',): '영업이익', ('영업이익(발표기준)',): '영업이익(발표기준)', ('세전계속사업이익',): '세전계속사업이익', ('당기순이익',): '당기순이익', ('당기순이익(지배)',): '당기순이익(지배)', ('당기순이익(비지배)',): '당기순이익(비지배)', ('자산총계',): '자산총계', ('부채총계',): '부채총계', ('자본총계',): '자본총계', ('자본총계(지배)',): '자본총계(지배)', ('자본총계(비지배)',): '자본총계(비지배)', ('자본금',): '자본금', ('영업활동현금흐름',): '영업활동현금흐름', ('투자활동현금흐름',): '투자활동현금흐름', ('재무활동현금흐름',): '재무활동현금흐름', ('CAPEX',): 'CAPEX', ('FCF',): 'FCF', ('이자발생부채',): '이자발생부채', ('영업이익률',): '영업이익률', ('순이익률',): '순이익률', ('ROE(%)',): 'ROE(%)', ('ROA(%)',): 'ROA(%)', ('부채비율',): '부채비율', ('자본유보율',): '자본유보율', ('EPS(원)',): 'EPS(원)', ('PER(배)',): 'PER(배)', ('BPS(원)',): 'BPS(원)', ('PBR(배)',): 'PBR(배)', ('현금DPS(원)',): '현금DPS(원)', ('현금배당수익률',): '현금배당수익률', ('현금배당성향(%)',): '현금배당성향(%)', ('발행주식수(보통주)',): '발행주식수(보통주)'}

,2013/12,2014/12,2015/12,2016/12,2017/12,2018/12,2019/12,2020/12
주요재무정보,,,,,,,,
매출액,2286927.0,2062060.0,2006535.0,2018667.0,2395754.0,2609853.0,2707078.0,2789011.0
영업이익,367850.0,250251.0,264134.0,292407.0,536450.0,631150.0,636614.0,653598.0
영업이익(발표기준),367850.0,250251.0,264134.0,292407.0,536450.0,NaN,NaN,NaN
세전계속사업이익,383643.0,278750.0,259610.0,307137.0,561960.0,651990.0,661092.0,683498.0
당기순이익,304748.0,233944.0,190601.0,227261.0,421867.0,486860.0,493402.0,517531.0

# NaN을 0.0 숫자로 바꾸기

In [11]:
df.fillna(0, inplace=True)
df.head()

,2013/12,2014/12,2015/12,2016/12,2017/12,2018/12,2019/12,2020/12
주요재무정보,,,,,,,,
매출액,2286927.0,2062060.0,2006535.0,2018667.0,2395754.0,2609853.0,2707078.0,2789011.0
영업이익,367850.0,250251.0,264134.0,292407.0,536450.0,631150.0,636614.0,653598.0
영업이익(발표기준),367850.0,250251.0,264134.0,292407.0,536450.0,0.0,0.0,0.0
세전계속사업이익,383643.0,278750.0,259610.0,307137.0,561960.0,651990.0,661092.0,683498.0
당기순이익,304748.0,233944.0,190601.0,227261.0,421867.0,486860.0,493402.0,517531.0

# excel 저장

In [12]:
# 항목별로 다른 sheet에 저장하기
def save_fincial_statement(file_name, sheet_names, inquiry_years, code):
    # Create a Pandas Excel writer using XlsxWriter as the engine.
    with pd.ExcelWriter(file_name, engine='xlsxwriter') as writer:
        for idx, val in enumerate(sheet_names):
            data = df[idx:idx+1][inquiry_years]
            data.index.rename("", inplace=True)
            data.index = [code]
            data.to_excel(writer, index=True, sheet_name=sheet_names[idx])
        writer.save()

In [14]:
# sample.xlsx에 2016/12, 2017/12 데이터 저장하기
save_fincial_statement('sample.xlsx', df.index.values, ['2016/12','2017/12'], CODE)

In [56]:
from openpyxl import load_workbook

In [57]:
book = load_workbook('sample.xlsx')
writer = pd.ExcelWriter('sample.xlsx', engine='openpyxl')
writer.book = book
startrow = 0
sheet_name = None
for sheet_name in writer.book.sheetnames:
    startrow = writer.book[sheet_name].max_row

매출액 : 2
영업이익 : 2
영업이익(발표기준) : 2
세전계속사업이익 : 2
당기순이익 : 2
당기순이익(지배) : 2
당기순이익(비지배) : 2
자산총계 : 2
부채총계 : 2
자본총계 : 2
자본총계(지배) : 2
자본총계(비지배) : 2
자본금 : 2
영업활동현금흐름 : 2
투자활동현금흐름 : 2
재무활동현금흐름 : 2
CAPEX : 2
FCF : 2
이자발생부채 : 2
영업이익률 : 2
순이익률 : 2
ROE(%) : 2
ROA(%) : 2
부채비율 : 2
자본유보율 : 2
EPS(원) : 2
PER(배) : 2
BPS(원) : 2
PBR(배) : 2
현금DPS(원) : 2
현금배당수익률 : 2
현금배당성향(%) : 2
발행주식수(보통주) : 2
Sheet : 1
발행주식수(보통주)1 : 3
매출액1 : 3

In [108]:
[CODE, df.loc['매출액']['2016/12'], df.loc['매출액']['2017/12']]

['005930', 2018667.0, 2395754.0]

In [112]:
book = load_workbook('sample.xlsx')
writer = pd.ExcelWriter('sample.xlsx', engine='openpyxl')
writer.book = book
for sheet_name in df.index.values:
    writer.book[sheet_name].append([CODE, df.loc[sheet_name]['2016/12'], df.loc[sheet_name]['2017/12']])
writer.save()