In [24]:
import pandas as pd

In [25]:
CODE = '000220'
COMPANY_NM = '기신정기'

In [26]:
url_tmpl = 'http://companyinfo.stock.naver.com/v1/company/ajax/cF1001.aspx?cmp_cd=%s&fin_typ=%s&freq_typ=%s'
url = url_tmpl % (CODE, '4', 'Y') # 삼성전자, 4(IFRS 연결), Y:년 단위, Q: 분기
print(url)

dfs = pd.read_html(url, encoding='utf8')
# dfs
df = dfs[0]
# print(df)
# df = df.set_index('주요재무정보')
df.head(5) # 10개 항목만 표시(실제 32개 항목)

http://companyinfo.stock.naver.com/v1/company/ajax/cF1001.aspx?cmp_cd=000220&fin_typ=4&freq_typ=Y

,주요재무정보,연간,Unnamed: 2_level_0,Unnamed: 3_level_0,Unnamed: 4_level_0,Unnamed: 5_level_0,Unnamed: 6_level_0,Unnamed: 7_level_0,Unnamed: 8_level_0
,\n\t\t\t\t\t\t\t\t\t2014/03\n\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t(IFRS연결)\n\t\t\t\t\t\t\t\t,\n\t\t\t\t\t\t\t\t\t2015/03\n\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t(IFRS연결)\n\t\t\t\t\t\t\t\t,\n\t\t\t\t\t\t\t\t\t2016/03\n\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t(IFRS연결)\n\t\t\t\t\t\t\t\t,\n\t\t\t\t\t\t\t\t\t2017/03\n\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t(IFRS연결)\n\t\t\t\t\t\t\t\t,\n\t\t\t\t\t\t\t\t\t2017/12\n\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t(IFRS연결)\n\t\t\t\t\t\t\t\t,\n\t\t\t\t\t\t\t\t\t2018/12(E)\n\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t(IFRS연결)\n\t\t\t\t\t\t\t\t,\n\t\t\t\t\t\t\t\t\t2019/12(E)\n\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t(IFRS연결)\n\t\t\t\t\t\t\t\t,\n\t\t\t\t\t\t\t\t\t2020/12(E)\n\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t(IFRS연결)\n\t\t\t\t\t\t\t\t,Unnamed: 8_level_1
0,매출액,620.0,628.0,697.0,716.0,629.0,NaN,NaN,NaN
1,영업이익,18.0,14.0,16.0,37.0,36.0,NaN,NaN,NaN
2,영업이익(발표기준),18.0,14.0,16.0,37.0,36.0,NaN,NaN,NaN
3,세전계속사업이익,26.0,-77.0,-3.0,65.0,48.0,NaN,NaN,NaN
4,당기순이익,19.0,-74.0,-4.0,61.0,43.0,NaN,NaN,NaN

# 컬럼 변환

In [27]:
# multi columns 제거
cols = list(df.columns.droplevel(0))
cols

['\n\t\t\t\t\t\t\t\t\t2014/03\n\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t(IFRS연결)\n\t\t\t\t\t\t\t\t',
 '\n\t\t\t\t\t\t\t\t\t2015/03\n\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t(IFRS연결)\n\t\t\t\t\t\t\t\t',
 '\n\t\t\t\t\t\t\t\t\t2016/03\n\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t(IFRS연결)\n\t\t\t\t\t\t\t\t',
 '\n\t\t\t\t\t\t\t\t\t2017/03\n\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t(IFRS연결)\n\t\t\t\t\t\t\t\t',
 '\n\t\t\t\t\t\t\t\t\t2017/12\n\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t(IFRS연결)\n\t\t\t\t\t\t\t\t',
 '\n\t\t\t\t\t\t\t\t\t2018/12(E)\n\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t(IFRS연결)\n\t\t\t\t\t\t\t\t',
 '\n\t\t\t\t\t\t\t\t\t2019/12(E)\n\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t(IFRS연결)\n\t\t\t\t\t\t\t\t',
 '\n\t\t\t\t\t\t\t\t\t2020/12(E)\n\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t(IFRS연결)\n\t\t\t\t\t\t\t\t',
 'Unnamed: 8_level_1']

In [28]:
# 재무제표 년/월 얻어오기
import re
from datetime import datetime

s = cols[0]

def get_date_str(s):
    date_str = ''
    r = re.search("\d{4}/\d{2}", s)
#     r = re.search("\d{4}", s)
    if r:
        date_str = r.group()

    return date_str

In [29]:
cols = [get_date_str(col) for col in cols]
cols

['2014/03',
 '2015/03',
 '2016/03',
 '2017/03',
 '2017/12',
 '2018/12',
 '2019/12',
 '2020/12',
 '']

In [30]:
df = df.set_index('주요재무정보')
df.head()

,연간,Unnamed: 2_level_0,Unnamed: 3_level_0,Unnamed: 4_level_0,Unnamed: 5_level_0,Unnamed: 6_level_0,Unnamed: 7_level_0,Unnamed: 8_level_0
,\n\t\t\t\t\t\t\t\t\t2015/03\n\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t(IFRS연결)\n\t\t\t\t\t\t\t\t,\n\t\t\t\t\t\t\t\t\t2016/03\n\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t(IFRS연결)\n\t\t\t\t\t\t\t\t,\n\t\t\t\t\t\t\t\t\t2017/03\n\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t(IFRS연결)\n\t\t\t\t\t\t\t\t,\n\t\t\t\t\t\t\t\t\t2017/12\n\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t(IFRS연결)\n\t\t\t\t\t\t\t\t,\n\t\t\t\t\t\t\t\t\t2018/12(E)\n\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t(IFRS연결)\n\t\t\t\t\t\t\t\t,\n\t\t\t\t\t\t\t\t\t2019/12(E)\n\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t(IFRS연결)\n\t\t\t\t\t\t\t\t,\n\t\t\t\t\t\t\t\t\t2020/12(E)\n\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t(IFRS연결)\n\t\t\t\t\t\t\t\t,Unnamed: 8_level_1
주요재무정보,,,,,,,,
"(매출액,)",620.0,628.0,697.0,716.0,629.0,NaN,NaN,NaN
"(영업이익,)",18.0,14.0,16.0,37.0,36.0,NaN,NaN,NaN
"(영업이익(발표기준),)",18.0,14.0,16.0,37.0,36.0,NaN,NaN,NaN
"(세전계속사업이익,)",26.0,-77.0,-3.0,65.0,48.0,NaN,NaN,NaN
"(당기순이익,)",19.0,-74.0,-4.0,61.0,43.0,NaN,NaN,NaN

In [31]:
# 컬럼이름 변경
df.columns = cols[0:-1]
df.head()

,2014/03,2015/03,2016/03,2017/03,2017/12,2018/12,2019/12,2020/12
주요재무정보,,,,,,,,
"(매출액,)",620.0,628.0,697.0,716.0,629.0,NaN,NaN,NaN
"(영업이익,)",18.0,14.0,16.0,37.0,36.0,NaN,NaN,NaN
"(영업이익(발표기준),)",18.0,14.0,16.0,37.0,36.0,NaN,NaN,NaN
"(세전계속사업이익,)",26.0,-77.0,-3.0,65.0,48.0,NaN,NaN,NaN
"(당기순이익,)",19.0,-74.0,-4.0,61.0,43.0,NaN,NaN,NaN

## Index 변환

In [32]:
indexes = []

for i in range(0, df.index.size):
    indexes.append(df.index[i][0])
    
indexes

['매출액',
 '영업이익',
 '영업이익(발표기준)',
 '세전계속사업이익',
 '당기순이익',
 '당기순이익(지배)',
 '당기순이익(비지배)',
 '자산총계',
 '부채총계',
 '자본총계',
 '자본총계(지배)',
 '자본총계(비지배)',
 '자본금',
 '영업활동현금흐름',
 '투자활동현금흐름',
 '재무활동현금흐름',
 'CAPEX',
 'FCF',
 '이자발생부채',
 '영업이익률',
 '순이익률',
 'ROE(%)',
 'ROA(%)',
 '부채비율',
 '자본유보율',
 'EPS(원)',
 'PER(배)',
 'BPS(원)',
 'PBR(배)',
 '현금DPS(원)',
 '현금배당수익률',
 '현금배당성향(%)',
 '발행주식수(보통주)']

In [33]:
# new_indexes = {v: k for v, k in enumerate(indexes)}

new_index_dict = dict(zip(df.index, indexes))
print(new_index_dict)

df.rename(new_index_dict, axis='index', inplace=True)
df.head(5)

{('매출액',): '매출액', ('영업이익',): '영업이익', ('영업이익(발표기준)',): '영업이익(발표기준)', ('세전계속사업이익',): '세전계속사업이익', ('당기순이익',): '당기순이익', ('당기순이익(지배)',): '당기순이익(지배)', ('당기순이익(비지배)',): '당기순이익(비지배)', ('자산총계',): '자산총계', ('부채총계',): '부채총계', ('자본총계',): '자본총계', ('자본총계(지배)',): '자본총계(지배)', ('자본총계(비지배)',): '자본총계(비지배)', ('자본금',): '자본금', ('영업활동현금흐름',): '영업활동현금흐름', ('투자활동현금흐름',): '투자활동현금흐름', ('재무활동현금흐름',): '재무활동현금흐름', ('CAPEX',): 'CAPEX', ('FCF',): 'FCF', ('이자발생부채',): '이자발생부채', ('영업이익률',): '영업이익률', ('순이익률',): '순이익률', ('ROE(%)',): 'ROE(%)', ('ROA(%)',): 'ROA(%)', ('부채비율',): '부채비율', ('자본유보율',): '자본유보율', ('EPS(원)',): 'EPS(원)', ('PER(배)',): 'PER(배)', ('BPS(원)',): 'BPS(원)', ('PBR(배)',): 'PBR(배)', ('현금DPS(원)',): '현금DPS(원)', ('현금배당수익률',): '현금배당수익률', ('현금배당성향(%)',): '현금배당성향(%)', ('발행주식수(보통주)',): '발행주식수(보통주)'}

,2014/03,2015/03,2016/03,2017/03,2017/12,2018/12,2019/12,2020/12
주요재무정보,,,,,,,,
매출액,620.0,628.0,697.0,716.0,629.0,NaN,NaN,NaN
영업이익,18.0,14.0,16.0,37.0,36.0,NaN,NaN,NaN
영업이익(발표기준),18.0,14.0,16.0,37.0,36.0,NaN,NaN,NaN
세전계속사업이익,26.0,-77.0,-3.0,65.0,48.0,NaN,NaN,NaN
당기순이익,19.0,-74.0,-4.0,61.0,43.0,NaN,NaN,NaN

# NaN을 0.0 숫자로 바꾸기

In [34]:
df.fillna(0, inplace=True)
df.head()

,2014/03,2015/03,2016/03,2017/03,2017/12,2018/12,2019/12,2020/12
주요재무정보,,,,,,,,
매출액,620.0,628.0,697.0,716.0,629.0,0.0,0.0,0.0
영업이익,18.0,14.0,16.0,37.0,36.0,0.0,0.0,0.0
영업이익(발표기준),18.0,14.0,16.0,37.0,36.0,0.0,0.0,0.0
세전계속사업이익,26.0,-77.0,-3.0,65.0,48.0,0.0,0.0,0.0
당기순이익,19.0,-74.0,-4.0,61.0,43.0,0.0,0.0,0.0

# excel 저장

In [41]:
df.columns.values

array(['2014/03', '2015/03', '2016/03', '2017/03', '2017/12', '2018/12',
       '2019/12', '2020/12'], dtype=object)

In [35]:
# 항목별로 다른 sheet에 저장하기
def save_fincial_statement(file_name, sheet_names, inquiry_years, code, corp_nm):
    # Create a Pandas Excel writer using XlsxWriter as the engine.
    with pd.ExcelWriter(file_name, engine='xlsxwriter') as writer:
        for idx, val in enumerate(sheet_names):
            data = df[idx:idx+1][inquiry_years]
            data.insert(0, 'corp_nm', corp_nm)
            data.index.rename("", inplace=True)
            data.index = [code]
            data.to_excel(writer, index=True, sheet_name=sheet_names[idx])
        writer.save()

In [36]:
# sample.xlsx에 2016/12, 2017/12 데이터 저장하기
save_fincial_statement('sample.xlsx', df.index.values, ['2016/12','2017/12'], CODE, COMPANY_NM)

KeyError: "['2016/12'] not in index"

### 엑셀 마지막 row에 추가

In [31]:
from openpyxl import load_workbook

In [47]:
book = load_workbook('sample.xlsx')
writer = pd.ExcelWriter('sample.xlsx', engine='openpyxl')
writer.book = book
for sheet_name in df.index.values:
    writer.book[sheet_name].append([CODE, COMPANY_NM, df.loc[sheet_name]['2016/12'], df.loc[sheet_name]['2017/12']])
writer.save()

In [52]:
def append_financial_statement(df, file_name, *datas):
    book = load_workbook(file_name)
    writer = pd.ExcelWriter(file_name, engine='openpyxl')
    writer.book = book
    for sheet_name in df.index.values:
        writer.book[sheet_name].append(datas)
    writer.save()

In [53]:
append_financial_statement(df, 'sample.xlsx', CODE, COMPANY_NM, df.loc['매출액']['2016/12'], df.loc['매출액']['2016/12'])