In [63]:
import pandas as pd
import numpy as np

In [64]:
dataOf2017 = pd.read_csv("datas/2017-kospi_kosdaq.csv")
dataOf2017.head()

   코드\n 번호     회사명         주가       시가총액  총자산\n (억)  매출액\n (억)
0  A005930    삼성전자  2,539,000  3,277,811  2,893,917  2,395,970
1  A000660  SK하이닉스     75,500    549,642    407,227    301,094
2  A005380     현대차    152,500    335,922  1,760,299    963,761
3  A005490   POSCO    395,000    344,388    761,813    606,551
4  A035420   NAVER    927,000    305,564     70,490     46,785

In [65]:
dataOf2017.rename(index=str, columns={dataOf2017.columns[0]: "code_number",
                                      "회사명": "corporate",
                                      dataOf2017.columns[2]: "stock",
                                      dataOf2017.columns[3]: "market_capitalization",
                                      dataOf2017.columns[4]: "assets",
                                      dataOf2017.columns[5]: "sales"}, inplace=True)

print(dataOf2017.shape)
dataOf2017.head()

(2005, 6)

  code_number corporate      stock market_capitalization     assets      sales
0     A005930      삼성전자  2,539,000             3,277,811  2,893,917  2,395,970
1     A000660    SK하이닉스     75,500               549,642    407,227    301,094
2     A005380       현대차    152,500               335,922  1,760,299    963,761
3     A005490     POSCO    395,000               344,388    761,813    606,551
4     A035420     NAVER    927,000               305,564     70,490     46,785

In [76]:
dataOf2017.dtypes

code_number              object
corporate                object
stock                    object
market_capitalization    object
assets                   object
sales                    object
dtype: object

In [81]:
# for i, v in dataOf2017.iterrows():
#     print(type(v.code_number), type(v.corporate), type(v.stock), type(v.market_capitalization), type(v.assets), type(v.sales))
    
dataOf2017.stock = dataOf2017.stock.replace(",", "")
# pd.to_numeric(dataOf2017.stock, errors='coerce', downcast='signed')
# df.column_name = df.column_name.astype(np.int64)

0       2,539,000
1          75,500
2         152,500
3         395,000
4         927,000
5         435,500
6         136,500
7         130,000
8         418,000
9          36,050
10        246,000
11         67,400
12         51,800
13        300,000
14        267,500
15        324,000
16        198,000
17        312,000
18      1,174,000
19        103,000
20        175,500
21        260,000
22         94,200
23        109,000
24        115,500
25         51,200
26         33,500
27        207,000
28        279,500
29        406,500
          ...
1975        1,995
1976         2040
1977         1995
1978         2145
1979         1990
1980         1990
1981         2030
1982            0
1983         2035
1984         1995
1985         2030
1986         2015
1987         2000
1988         2030
1989         2055
1990         1980
1991         2020
1992         3900
1993         2000
1994         2015
1995         2015
1996         2005
1997         2130
1998         2025
1999         3640
2000         2055
2001         2025
2002         3880
2003         2390
2004       173000
Name: stock, Length: 2005, dtype: object

In [39]:
# dataOf2017["stock"] = pd.to_numeric(dataOf2017["stock"], downcast='integer')

#dataOf2017["PSR"] = dataOf2017["market_capitalization"] / dataOf2017["sales"]

ValueError: Unable to parse string "2,539,000" at position 0